@model List<Product>


<div class="content">

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="slide" style="background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.534) 100%, rgba(0, 0, 0, 0.534) 100%),url(https://themewagon.github.io/cozastore/images/slide-02.jpg);">

                    <div class="text">
                        <div class="top">
                            <h1>Men Collection 2018</h1>
                        </div>
                        <div class="center">
                            <h2>NEW ARRIVALS</h2>
                        </div>
                        <div class="bottom">
                            <a href="/Home/Shop">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide" style="background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.534) 100%, rgba(0, 0, 0, 0.534) 100%),url(https://themewagon.github.io/cozastore/images/slide-04.jpg);">

                    <div class="text">
                        <div class="top">
                            <h1>Woman Collection 2018</h1>
                        </div>
                        <div class="center">
                            <h2>New Season</h2>
                        </div>
                        <div class="bottom">
                            <a href="/Home/Shop">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide" style="background-image:linear-gradient(90deg, rgba(0, 0, 0, 0.534) 100%, rgba(0, 0, 0, 0.534) 100%),url(https://themewagon.github.io/cozastore/images/slide-03.jpg);">
                    <div class="text">
                        <div class="top">
                            <h1>Men New Season</h1>
                        </div>
                        <div class="center">
                            <h2>Jack and Coats</h2>
                        </div>
                        <div class="bottom">
                            <a href="/Home/Shop">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="s4">
        <a href="/Home/Shop" class="imgg">
            <div class="info">
                <span style="font-size: 28px;font-weight: 900;">Women</span>
                <span style="font-size: 14px ;padding: 10px 0px;">Spring 2018</span>
            </div>
            <div class="sekil">
                <img class="" src="https://themewagon.github.io/cozastore/images/banner-01.jpg" alt="">
                <div class="text ">
                    <p>Shop Now</p>
                </div>
            </div>
        </a>
        <a href="/Home/Shop" class="imgg">
            <div class="info">
                <span style="font-size: 28px;font-weight: 900;">Men</span>
                <span style="font-size: 14px ;padding: 10px 0px;">Spring 2018</span>
            </div>
            <div class="sekil">
                <img class="" src="https://themewagon.github.io/cozastore/images/banner-02.jpg" alt="">
                <div class="text ">
                    <p>Shop Now</p>
                </div>
            </div>
        </a>
        <a href="/Home/Shop" class="imgg">
            <div class="info">
                <span style="font-size: 28px;font-weight: 900;">Hat</span>
                <span style="font-size: 14px ;padding: 10px 0px;">Spring 2018</span>
            </div>
            <div class="sekil">
                <img class="" src="https://themewagon.github.io/cozastore/images/banner-03.jpg" alt="">
                <div class="text ">
                    <p>Shop Now</p>
                </div>
            </div>
        </a>

    </div>


    <section class="Overview">
        <div class="top">
            <h1>Product Overview</h1>
        </div>
        <div class="filter-search">
            <div id="SearchMenu" class="search ">
                <div class="searchbar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search..." class="">
                </div>
            </div>
            <div id="FilterMenu" class="filter ">
                <div class="one_side">
                    <h1 class="">Sort By</h1>
                    <ul class="">
                        <a href="">
                        <li class="">
                            Default
                            <hr>
                        </li>
                        </a>
                        <a href="">
                        <li class="">
                            Popularity
                            <hr>
                        </li>
                        </a>
                        <a href="">
                        <li class="">
                            Average rating
                            <hr>
                        </li>
                        </a>
                        <a href="">
                        <li class="">
                            Newness
                            <hr>
                        </li>
                        </a>
                        <a href="">
                        <li class="">
                            Price: Low to High
                            <hr>
                        </li>
                        </a>
                        <a href="">
                        <li class="">
                            Price: High to Low
                            <hr>
                        </li>
                        </a>
                    </ul>
                </div>
                <div class="one_side">
                    <h1 class="">Price</h1>
                    <ul class="">
                        <a href="">
                        <li class="">
                            All
                            <hr>
                        </li>
                        </a>
                        <a href="">
                        <li class="">
                            $0.00 - $50.00
                            <hr>
                        </li>
                        </a>
                        <a href="">
                        <li class="">
                            $50.00 - $100.00
                            <hr>
                        </li>
                        </a>
                        <a href="">
                        <li class="">
                            $100.00 - $150.00

                            <hr>
                        </li>
                        </a>
                        <a href="">
                        <li class="">
                            $150.00 - $200.00

                            <hr>
                        </li>
                        </a>
                        <a href="">
                        <li class="">
                            $200.00+

                            <hr>
                        </li>
                        </a>
                    </ul>
                </div>
                <div class="one_side">
                    <h1 class="">Color</h1>
                    <ul class="">
                        <a href="" class="">
                            <i class="fa-solid fa-circle" style="color: black;"></i>
                        <li class="text-sm">
                            <span>Black</span>
                            <hr>
                        </li>
                        </a>
                        <a href="" class="">
                            <i class="fa-solid fa-circle" style="color: blue;"></i>
                        <li class="text-sm">
                            <span>Blue</span>
                            <hr>
                        </li>
                        </a>
                        <a href="" class="">
                            <i class="fa-solid fa-circle" style="color: gray;"></i>
                        <li class="text-sm">
                            <span>Grey</span>
                            <hr>
                        </li>
                        </a>
                        <a href="" class="">
                            <i class="fa-solid fa-circle" style="color: green;"></i>
                        <li class="text-sm">
                            <span>Green</span>
                            <hr>
                        </li>
                        </a>
                        <a href="" class="">
                            <i class="fa-solid fa-circle" style="color: red;"></i>
                        <li class="text-sm">
                            <span>Red</span>
                            <hr>
                        </li>
                        </a>
                        <a href="" class="">
                            <i class="fa-solid fa-circle" style="color: rgb(223, 218, 218);"></i>
                        <li class="text-sm">
                            <span>White</span>
                            <hr>
                        </li>
                        </a>
                    </ul>
                </div>
                <div class="one_side">
                    <h1 class="">Tags</h1>
                    <a href="" class="">
                        Fashion
                    </a>
                    <a href="" class="">
                        Lifestyle
                    </a>
                    <a href="" class="">
                        Denim
                    </a>
                    <a href="" class="">
                        Streetstyle
                    </a>
                    <a href="" class="">
                        Crafts
                    </a>
                </div>
            </div>

        </div>
    </section>
    <section class="products">
        @foreach (var item in Model)
        {
            <div class="product" cat="@item.ProductCategory.CategoryName">
                <div class="productIn">
                    <div class="image">
                        <img src="/images/@item.Photos.ToList()[0].PhotoName" alt="">
                        <a href="/Home/QuickView/@item.ProductId" class="hiddendiv">Quick View</a>
                    </div>
                    <div class="text">
                        <div class="div">
                            <p>@item.ProductName</p>
                             @if (User.Identity.IsAuthenticated)
                            {
                            <a href="/Home/AddFavorites/@item.ProductId"><i class="fa-regular fa-heart heart"></i></a>
                            }
                        </div>
                        <span class="">$ @item.ProductPrice</span>
                        <span class="branchname">@item.ProductBranch.BranchName</span>
                    </div>
                </div>
            </div>
        }


    </section>


    <section class="loadmore">
        <a href="/Home/Shop">
            <p>DISCOVER MORE</p>
        </a>
    </section>
</div>
