<section class="UserProfile">
    <div class="userinfos">
        <div class="userbackground"></div>
        <div class="userinfo">
            <img src="/images/logo-01.png" alt="" id="coza">
            <div class="inputs">
                <form action="/Home/Login" method="post">
                    <input type="text" placeholder="Nickname" name="UserNickName">
                    <input type="password" placeholder="Password" name="UserPassword">
                    <button>Login</button>
                </form>
                <p>Don't have an account? <a href="/Home/SignUp"><u>Sign up</u></a></p>
            </div>
        </div>
    </div>

</section>